cities_old.txt
israel_cities.xlsx
database_handling.py
identifier.sqlite
Notes-ToDo.txt
venv
.vscode
BackUp
__pycache__
.idea
.git
static/Books_Authors.txt
static/Books_Dates.txt
static/Books_Others.txt
static/Books_Publishers.txt
static/Reem_Kufi.zip
static/images/hijabi.png
static/images/product1.png
static/images/product2.png
static/images/clothes/منتج1.jpg
static/images/clothes/منتج2.jpg
see_database.py
.env
instance
.pre-commit-config.yaml
.venv
images_facebook
