body {
  display: block;
  width: 100%;
  margin: 0;
  z-index: 1;
  overflow: auto;
  max-width: 100%;
}

@font-face {
  font-family: 'Reem Kufi';
  src: url(Reem_Kufi/static/ReemKufi-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Reem Kufi';
  src: url(Reem_Kufi/static/ReemKufi-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

.material-symbols-outlined {
  user-select: none;
}

header {
  width: 100%;
  z-index: 2;
  display: block;
  background-color: white;
  border-bottom: 1px solid #f2e4d7;
  padding-bottom: 10px;
}

.header-upper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

#header-left{
  position: absolute;
  top: 40px;
  left: 50px;
  display: flex;
  flex-direction: row;
}

#header-left a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.shopping-cart-icon {
  color: #AD7765;
  font-size: 30px;
}

.shopping-cart-icon:hover {
  color: black;
}

.counter {
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #f2e4d7;
  text-align: center;
  font-size: 15px;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  color: black;

}

.logo-container {
  margin: auto;
}

.logo-container {
  text-align: center;
  font-size: 1em;
}

.profile-icon {
  font-size: 30px;
  color: #AD7765;
}

.profile-icon:hover {
  color: black;
}

#header-right {
  position: absolute;
  top: 40px;
  right: 50px;
}

.search-icon {
  font-size: 30px;
  color: #AD7765;
}

.search-icon:hover {
  color: black;
}

.menu-icon {
  font-size: 30px;
  color: #AD7765;
}

.menu-icon:hover {
  color: black;
}

.open-menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#side-menu.open {
  right: 0; /* Slide into view */
}

#side-menu ul {
  text-decoration: none;
  list-style: none;
  width: 100%;
  padding-right: 0;
  margin-bottom: 0;
}

#side-menu ul li{
  display: flow-root;
  padding: 15px 10px;
}

#side-menu ul li:not(:last-child){
  border-bottom: 1px solid gray;
}

#side-menu ul li a {
  text-decoration: none;
  color: #AD7765;
  font-size: 1em;
  margin: 0;
}

#side-menu ul li a:hover {
  color: black;
  text-decoration: underline;
}

#close-side-menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-align: left;
  display: inline-block;
  position: absolute;
  left: 10px;
}

.coming-soon-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.7);
}

.coming-soon-side span {
  color: white;
  font-size: 1em;
  display: inline-block;
  user-select: none;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.3s ease-in-out;
}

#overlay.show {
  display: initial;
}

#search-menu, #side-menu {
  position: fixed; /* Position absolutely */
  right: -1000px; /* Hide off-screen */
  top: 0;
  bottom: 0;
  width: 50vw;
  background-color: white;
  transition: right 0.3s ease-in-out; /* Smooth animation */
  z-index: 3;
  display: block;
  padding-top: 15px;
  overflow: auto;
}

#search-menu.open {
  right: 0; /* Slide into view */
}

#search-menu ul {
  text-decoration: none;
  list-style: none;
  width: 100%;
  margin-top: 0;
  padding-right: 0;
}

#search-menu ul li{
  display: flex;
  width: 100%;
  border-bottom: 1px solid gray;
  user-select: none;
}

#search-menu ul li input {
  border: 0;
  height: 30px;
  outline: none;
  width: 90%;
}

#close-search-menu {
  background-color: transparent;
  border: 0;
  width: 100%;
  text-align: left;
}

.breadcrumb-list ul{
  display: inline-flex;
  list-style: none;
  /*padding: 26px 20px;*/
  margin: 0;
}

.breadcrumb-list li a {
  text-decoration: none;
  color: black;
}

.breadcrumb-list li a:hover {
  color: gray;
}

footer {
  height: 90vh;
  width: 100%;
  background-color: #f2e4d7;
  display: block;
  position: relative;
}

@media (max-width: 767px) {
  footer #footer-top {
    font-size: 0.8em;

  }

}
@media (min-width: 767px) {
  footer #footer-top {
    font-size: 1.2em;

  }

}
footer #footer-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

footer div div {
  display: block;
  text-align: right;
}

footer div hr {
  height: 1px;
  width: 230px;
  color: white;
  background-color: white;
  margin: 0;
  border: #AD7765;
  display: none;
}

footer div a, #contact-us a {
  text-decoration: none;
}

footer div iconify-icon, #contact-us iconify-icon {
  color: black;
  padding: 7px 0;
}

footer div iconify-icon, #contact-us iconify-icon:hover {
  color: white;
}

#footer-bottom {
  font-size: 0.9em;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
