body {
  display: block;
  width: 100%;
  margin: 0;
  z-index: 1;
  overflow: auto;
  max-width: 100%;
}

@font-face {
  font-family: 'Reem Kufi';
  src: url(Reem_Kufi/static/ReemKufi-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Reem Kufi';
  src: url(Reem_Kufi/static/ReemKufi-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url(Noto_Naskh_Arabic/static/NotoNaskhArabic-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Naskh Arabic Bold';
  src: url(Noto_Naskh_Arabic/static/NotoNaskhArabic-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ########################## add_product.html CSS ######################### */

#adding-updating-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.add-update-product-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 0;
  padding-bottom: 40px;
  font-size: 1.2em;
  width: 50%;
  max-width: 50%;
}

@media (max-width: 767px) {
  .add-update-product-form div {
    width: 80vw;
  }
}

@media (min-width: 767px) {
  .add-update-product-form.div {
    width: 50vw;
  }
}

.add-update-product-form .input-field,
#search-product-id-input {
  padding-right: 10px;
  height: 50px;
  line-height: 50px;
  border: 1px solid rgba(12, 27, 84, .5);
  font-family: "Noto Naskh Arabic", serif;
  font-size: 0.8em;

}

.add-update-product-form .input-field {
  width: 100%;
}

#product-description {
  height: 100px;
}

#go-new-added-button,
#save-product-button {
  font-size: 0.8em;
  font-family: 'Noto Naskh Arabic', sans-serif;
  text-decoration: none;
  background-color: #c2ffd6;
  cursor: pointer;
  border: 0;
  padding: 5px 5px 5px 5px;
  transition-duration: 0.5s;
}

#go-new-added-button {
  text-decoration: none;
  margin: 30px 40vw 30px 0;
}

#go-new-added-button a {
  text-decoration: none;
  color: black;
  transition-duration: 0.5s;
}

#go-new-added-button:hover,
#save-product-button:hover,
#add-image-button:hover,
#order-info-button:hover,
#user-more-info-button:hover,
.error-flash-message,
.warning-flash-message,
.success-flash-message,
#dashboard-link-bar a:hover,
#checkout-button:hover,
.sign-in-button:hover,
.handle-products-button:hover,
.login-method:hover,
#approve-order-button:hover,
#add-to-cart-button:hover,
#update-info-button:hover,
.sign-up-button:hover,
#search-product-id-button:hover {
  background-color: #e5e5e5;
}

#add-image-button {
  background-color: #cce5ff;
  cursor: pointer;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  transition-duration: 0.5s;
}

.add-update-product-form .field-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.add-update-product-form #type-price-quantity, 
#profile-info-form ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* ########################## admin_profile.html CSS ######################### */

#users-count {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 20px;
  font-size: 0.9em;
}

/* ########################## all_customers_orders.html CSS ######################### */

@media (max-width: 767px) {
  .all-orders-table {
    font-size: 0.7em;
  }
  .all-orders-table select {
    font-size: 0.8em;
  }
  .order-info-link span {
    font-size: 1.2em;
  }
  .order-total-td {
    font-size: 1em;
  }
}

@media (min-width: 767px) {
  .all-orders-table {
    font-size: 0.9em;
  }
  .all-orders-table select {
    font-size: 1em;
  }
  .order-info-link span {
    font-size: 1.5em;
  }
}

.order-info-link,
#product-left-upper span {
  font-size: 1em;
}

.all-orders-table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.show-order-info-eye:hover {
  color:#e5e5e5;
}

.order-id-td,
.order-total-td,
.order-date-td,
.order-status-td,
.order-number {
  vertical-align: middle;
  text-align: center;
  /*padding: 10px 0 0 0;*/
}

.order-status-td select {
  height: 30px;
}

.order-customer-info div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 0.9em;
  margin-right: 5px;
}

.order-status-td div {
  width: 100%;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-content {
  padding: 0;
}

#all-orders-container td,
#all-users-container table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px 0 10px 0;
  border: 1px solid black;
  border-collapse: collapse;
}

#all-orders-container td img, #orders-container td img {
  width: 100%;
  height: 100%;
}

#all-orders-container #order-info-button {
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  padding: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px 0 10px;
}

#edit-price-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1em;
}

#edit-price-button span,
#last-footer iconify-icon,
.profile-icon:hover,
#side-menu-footer a:hover,
.sign-container form a,
.menu-icon:hover,
.search-icon:hover,
.shopping-cart-icon:hover {
  color: black;
}

#edit-price-button span:hover {
  color: rgb(147, 146, 146);
}

.table-titles {
  font-size: 1em;
  margin-bottom: 20px;
}

#all-orders-title {
  font-size: 1.4em;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ########################## all_customers.html CSS ######################### */

#all-users-container,
#all-orders-container,
#orders-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  max-width: 100%;
}

#all-users-table {
  border-collapse: collapse;
  font-size: 0.9em;
  max-width: 100%;
  width: 100%;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  #all-users-container table td {
    font-size: 0.7em;
  }

  #all-users-container table td button {
    font-size: 0.7em;

  }

  #all-users-container th {
    font-size: 0.8em;
  }
}

@media (min-width: 767px) {
  #all-users-container table td {
    font-size: 1em;
  }
}

#user-more-info-button {
  color: black;
  background-color: #cce5ff;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px 0 10px;
  transition-duration: 0.5s;
}

#all-users-container td a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

#all-users-container td a:hover {
  color: #afaeae;
}

/* ########################## base.html CSS ######################### */

.material-symbols-outlined {
  user-select: none;
}

header {
  width: 100%;
  z-index: 2;
  display: block;
  background-color: white;
  border-bottom: 1px solid #f2e4d7;
  padding-bottom: 10px;
}

.header-upper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

#header-left {
  position: absolute;
  top: 40px;
  left: 50px;
  display: flex;
  flex-direction: row;
}

#header-left a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.flash-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-flash-message {
  animation: fadeOut 5s ease-in-out forwards;
  opacity: 1;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    display: none;
  }
}

.shopping-cart {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#last-footer table {
  text-align: center;
  width: 100%;
  border: 0;
}

#last-footer table td {
  vertical-align: top;
  border: 0;
}

#last-footer table th {
  width: 30vw;
  border: 0;
}

#last-footer {
  height: 90vh;
  width: 100%;
  background-color: #f2e4d7;
  display: block;
  position: relative;
}

@media (max-width: 767px) {
  #last-footer table {
    font-size: 0.8em;
    border: 0;
  }

  .profile-icon {
    font-size: 1.8em;
    color: #AD7765;
  }

  .shopping-cart-icon {
    color: #AD7765;
    font-size: 1.8em;
  }
}

@media (min-width: 767px) {
  #last-footer table td {
    font-size: 1.2em;
  }

  #last-footer table th {
    font-size: 1em;
  }

  #last-footer table {
    border: 0;
  }

  .profile-icon {
    font-size: 1.5em;
    color: #AD7765;
  }

  .shopping-cart-icon {
    color: #AD7765;
    font-size: 1.5em;
  }
}

#last-footer iconify-icon:hover {
  color: white;
}

#last-footer a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#last-footer div iconify-icon:hover,
#contact-us iconify-icon:hover {
  color: white;
}

#footer-bottom {
  font-size: 0.9em;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#footer-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding-top: 50px;
}

#footer-middle div {
  position: relative;
  border: 3px solid black;
  border-style: dashed;
  padding: 10px;
}

#footer-middle div a {
  text-align: center;
  position: absolute;
  left: 40%;
  top: 60%;
  font-size: 1.5em;
}

select {
  font-family: Noto Naskh Arabic;
}

#side-menu-footer {
  background-color: white;
  border-top: 1px solid black;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-top: 10px;
  width: 100%;
}

#side-menu-footer a {
  color: #AD7765;
  display: inline-flex;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* animation: pulse 2s infinite; */
}

.tooltiptext {
  visibility: hidden;
  background-color: #f5e1ce;
  color: rgb(54, 54, 54);
  text-align: center;
  padding: 10px;
  margin: 20px;
  border-radius: 50%;
  width: 300%;
  height: 300%;
  font-size: 1em;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -200%;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: initial;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#dashboard-link-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 10vw 0 10vw;
  border-bottom: 1px solid #f2e4d7;
}

@media (max-width: 767px) {
  #dashboard-link-bar a {
    font-size: 0.8em;
  }
}

@media (min-width: 767px) {
  #dashboard-link-bar a {
    font-size: 1em;
  }
}

#dashboard-link-bar a {
  text-decoration: none;
  color: black;
  text-align: center;
  border-left: 1px solid #f2e4d7;
  width: 100%;
}

#dashboard-link-bar a:first-child {
  border-right: 1px solid #f2e4d7;
}

#dashboard-link-bar a:hover {
  text-decoration: underline;
}

.counter {
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #f2e4d7;
  text-align: center;
  font-size: 15px;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  color: black;

}

.logo-container {
  margin: auto;
}

.logo-container {
  text-align: center;
  font-size: 1em;
}

#header-right {
  position: absolute;
  top: 40px;
  right: 50px;
}

.search-icon {
  font-size: 30px;
  color: #AD7765;
}

.menu-icon {
  font-size: 30px;
  color: #AD7765;
}

.open-menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}


#side-menu ul {
  text-decoration: none;
  list-style: none;
  width: 100%;
  padding-right: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#side-menu ul li {
  display: flow-root;
  padding: 15px 10px;
}

#side-menu ul li:not(:last-child) {
  border-bottom: 1px solid gray;
  width: 70%;
}

#side-menu ul li a {
  text-decoration: none;
  color: #AD7765;
  font-size: 1.2em;
  margin: 0;
}

#side-menu ul li a:hover {
  color: black;
  text-decoration: underline;
}

#close-side-menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-align: left;
  display: inline-block;
  position: absolute;
  left: 10px;
  color: #AD7765;
}

#close-side-menu:hover {
  color: white;
}

.coming-soon-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.coming-soon-side span {
  color: white;
  font-size: 1em;
  display: inline-block;
  user-select: none;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition-duration: 1s ease-in-out;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

#overlay.show {
  display: initial;
}

@media (max-width: 767px) {

  #search-menu,
  #side-menu,
  #side-menu.open {
    width: 50vw;
  }
}

@media (min-width: 767px) {
  #search-menu,
  #side-menu {
    width: 30vw;
  }
  #side-menu.open {
    width: 35vw;
  }
}

.side-menu-footer {
  width: 70%;
}

#search-menu,
#side-menu,
filters {
  position: fixed;
  /* Position absolutely */
  width: 0;
  /* Hide off-screen */
  top: 0;
  bottom: 0;
  background-color: white;
  transition: 0.5s;
  /* Smooth animation */
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  overflow: auto;
}

#search-menu.open {
  right: 0;
  /* Slide into view */
}

#search-menu ul {
  text-decoration: none;
  list-style: none;
  width: 100%;
  margin-top: 0;
  padding-right: 0;
}

#search-menu ul li {
  display: flex;
  width: 100%;
  border-bottom: 1px solid gray;
  user-select: none;
}

#search-menu ul li input {
  border: 0;
  height: 30px;
  outline: none;
  width: 90%;
}

#close-search-menu {
  background-color: transparent;
  border: 0;
  width: 100%;
  text-align: left;
}

.breadcrumb-list ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
}

.breadcrumb-list li a {
  text-decoration: none;
  color: black;
}

.breadcrumb-list li a:hover {
  color: gray;
}

/* ##################### books.html CSS ############################# */

#books-container {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#books-upper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 50px 50px 0 50px;
  text-align: center;
  color: #e5e5e5;
}

#books-upper b {
  font-size: 2em;
  margin-top: 50px;
}

#filters-button {
  position: sticky;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: white;
  border: 0;
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid #f2e4d7;
}

#filters-button:hover {
  background-color: #e5e5e5
}

#filters-button.sticky {
  position: sticky;
  top: 0;
}

.filters-icon {
  color: #AD7765;
}

filters.open {
  right: 0;
  /* Slide into view */
}

#filters-close-side-menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-right: 30px;
}

filters ul {
  text-decoration: none;
  list-style: none;
}

filters ul li {
  user-select: none;
  display: block;
  padding: 15px 15px;
  cursor: pointer;
  font-size: 1em;
}

filters ul li:first-child {
  cursor: initial;
}

filters ul li .filter-upper {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

filters ul li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

filters ul li:not(:last-child) {
  border-bottom: 1px solid gray;
}

@media (max-width: 767px) {
  products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 35px 0 35px 0;
    row-gap: 20px;
    max-width: 100%;
    width: 100%;
  }

  products a {
    max-width: 90%;
    padding-right: 10px;
  }

  product .upper-product {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 70%;
  }

  product .upper-product img {
    width: 80%;
    height: 100%;
  }

  .lower-product span {
    font-size: 0.8em;
  }
}

@media (min-width: 767px) {
  products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 35px 20px 50px 20px;
    column-gap: 40px;
    row-gap: 40px;
    max-width: 100%;
  }

  product .upper-product {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 70%;
    padding-bottom: 5px;
  }

  product .upper-product img {
    width: 80%;
    height: 100%;
  }

  .lower-product span {
    font-size: 1.2em;
  }

}

product {
  display: inline-block;
  text-align: center;
  border-radius: 5%;
  color: #AD7765;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
    -2px -2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  transition-duration: 0.5s;
  font-size: 1em;
}

#books-container product {
  font-family: Reem Kufi, Noto Naskh Arabic;
}

product:hover {
  box-shadow: 12px 12px 16px 16px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

product hr {
  height: 1px;
  width: 70%;
  background-color: gray;
  color: gray;
}

/* ##################### checkout.html CSS ############################# */

.input_field {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 1px solid rgba(12, 27, 84, .5);
  font-family: "Noto Naskh Arabic", serif;
  font-size: 0.9em;
  padding-right: 10px;
}

#lower-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /*column-gap: 10px;*/
  margin: 20px 0 20px 0;
}

#checkout-button,
#register-guest-button,
#continue-as-guest-button {
  font-family: "Noto Naskh Arabic", serif;
  border: 0;
  cursor: pointer;
  padding: 10px;
  transition-duration: 0.5s;
  text-wrap: nowrap;
}

#checkout-button {
  background-color: #cce5ff;
}

#register-guest-button,
#continue-as-guest-button {
  scale: 0.8;
  background-color: rgb(248, 128, 128);
}

#register-guest-button:hover,
#continue-as-guest-button:hover {
  background-color: #f0f0f0;
}

.error-border {
  border-color: red !important;
  /* Red border color */
}

/* ##################### clothes.html CSS ############################# */

/* ##################### forgot_password.html CSS ############################# */

.sign-in-button {
  width: 100%;
  background-color: #cce5ff;
  font-family: "Noto Naskh Arabic", serif;
  border: 0;
  cursor: pointer;
  margin-right: 2px;
  transition-duration: 0.5s;
}

.sign-container form a:hover {
  color: gray;
}

/* ##################### gifts_corner.html CSS ############################# */

#container {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 35px 0 35px 0;
    row-gap: 20px;
    max-width: 100%;
    width: 100%;
  }

  products a {
    max-width: 90%;
    padding-right: 10px;
  }

  product .upper-product {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 70%;
  }

  product .upper-product img {
    width: 80%;
    height: 100%;
  }

}

@media (min-width: 767px) {
  products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 35px 20px 50px 20px;
    column-gap: 40px;
    row-gap: 40px;
    max-width: 100%;
  }

  product .upper-product {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 70%;
    padding-bottom: 5px;
  }

  product .upper-product img {
    width: 80%;
    height: 100%;
  }
}

product {
  display: block;
  text-align: center;
  border-radius: 5%;
  color: #AD7765;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
    -2px -2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  transition-duration: 0.5s;
}

product:hover {
  box-shadow: 12px 12px 16px 16px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

product hr {
  height: 1px;
  width: 70%;
  background-color: gray;
  color: gray;
}

/* ##################### handling_products.html CSS ############################# */

#products-handling-container {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.handle-products-button {
  cursor: pointer;
  background-color: #cce5ff;
  border: 0;
  font-size: 1em;
  font-family: "Noto Naskh Arabic", serif;
  width: 5em;
  height: 3em;
  transition-duration: 0.5s;
}

.handle-products-button a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ##################### Home.html CSS ############################# */

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 35px 0 35px 0;
  gap: 20px;
}

@media (max-width: 767px) {
  .clothes-shopping span,
  .gifts_corner-shopping span,
  .books-shopping span {
    font-size: 0.65em;
  }
}

@media (min-width: 767px) {

  .clothes-shopping span,
  .gifts_corner-shopping span,
  .books-shopping span {
    font-size: 1em;
  }
}

.clothes-shopping,
.gifts_corner-shopping,
.books-shopping {
  width: 25vw;
  text-align: center;
  display: block;
}

.clothes-shopping span,
.gifts_corner-shopping span,
.books-shopping span {
  color: black;
  font-family: 'Reem Kufi', sans-serif
}

.clothes-shopping a:hover,
.gifts_corner-shopping a:hover,
.books-shopping a:hover {
  /* background-color: rgb(184, 184, 184); */
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.clothes-shopping a,
.gifts_corner-shopping a,
.books-shopping a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  border-radius: 20% 20% 10% 10%;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
  overflow: hidden;
}

.clothes-shopping a img,
.gifts_corner-shopping a img,
.books-shopping a img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20% 20% 10% 10%;
}

.coming-soon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  text-align: center;
  left: 0;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.coming-soon span {
  color: white;
  font-size: 4em;
  display: inline-block;
  transform: rotate(-45deg);
  user-select: none;
}

/* ##################### login.html CSS ############################# */

.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
}

.sign-container form a,
#user-info-title:hover {
  text-decoration: underline;
}

.password-div {
  position: relative;
  width: 100%;
}

.password-div input {
  width: 100%;
}

.password-div a {
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  position: absolute;
  top: 30%;
  left: 0;
  /*top: 500px;*/
  font-size: 0.8em;
}

.forgot-password {
  display: block;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.6em;
  color: black;
}

.forgot-password:hover {
  color: gray;
}

.sign-in-button {
  width: 100%;
  background-color: #cce5ff;
  font-family: "Noto Naskh Arabic", serif;
  border: 0;
  cursor: pointer;
  /*transition: left 0.5s ease-in-out;*/
  margin-right: 2px;
  transition-duration: 0.5s;
}

.password-container {
  position: relative;
}

.password-container a {
  font-size: 0.7em;
}

.show-password-btn {
  position: absolute;
  left: 5px;
  top: 48%;
  transform: translateY(-50%);
  cursor: pointer;
}

#login-method-selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.login-method {
  background-color: #cce5ff;
  font-family: 'Noto Naskh Arabic', sans-serif;
  font-size: 0.8em;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition-duration: 0.5s;
}

/* ##################### order_approved.html CSS ############################# */

#approve-order-button {
  /*width: 100%;*/
  background-color: #cce5ff;
  font-family: "Noto Naskh Arabic", serif;
  border: 0;
  cursor: pointer;
  margin-right: 2px;
  margin-bottom: 20px;
  transition-duration: 0.5s;
}

#approved-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

#approved-contact button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

/* ##################### order_info.html CSS ############################# */

#order-info-container {
  padding: 50px;
}

#order-info-container table,
#order-info-container tr,
#order-info-container th,
#order-info-container td,
#all-users-container table tr th,
.all-orders-table tr th {
  border: 1px solid black;
  border-collapse: collapse;
}

#order-info-container td {
  vertical-align: top;
  text-align: center;
  padding: 10px 0 0 0;
  font-size: 0.9em;
}

#order-info-container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

/* ##################### orders.html CSS ############################# */

.all-orders-table {
  border-collapse: collapse;
  font-size: 0.9em;
  max-width: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.order-id-td,
.order-total-td,
.order-date-td,
.order-number {
  vertical-align: middle;
  text-align: center;
  /*padding: 10px 0 0 0;*/
}

.order-status-td {
  vertical-align: middle;
  text-align: center;
  padding: 10px 0 0 0;
}

.order-status-td p {
  width: 90%;
  display: inline-block;
  font-size: 0.9em;
  border: 1px solid black;
}

.order-content {
  padding: 0;
}

.each-order-table {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#orders-container td {
  text-align: center;
  vertical-align: middle;
  padding: 10px 0 10px 0;
  border: 1px solid black;
  border-collapse: collapse;
}

.each-order-table td a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#order-info-button {
  color: black;
  background-color: #cce5ff;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px 0 10px;
}

/* ##################### product.html CSS ############################# */

#product-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#product-left-side {
  display: flex;
  text-align: right;
  flex-direction: column;
  width: 35vw;
}

#product-left-upper {
  display: flex;
  text-align: right;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.9em;
}

#product-right-side {
  width: 65vw;
  height: 100%;
}

#add-to-cart-button {
  background-color: #cce5ff;
  border: 0;
  font-family: "Noto Naskh Arabic", sans-serif;
  font-size: 0.8em;
  cursor: pointer;
  transition-duration: 0.5s;
  width: 10em;

}

#product-left-lower {
  display: flex;
  text-align: right;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1em;
}

#product-left-lower span {
  margin-bottom: 10px;
}

#images-gallery-container {
  position: relative;
  width: 90%;
  height: 90%;
}

.slides {
  display: none;
  /*transition: width 0.5s ease-in-out;*/
  width: 100%;
  height: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  padding-right: 16px;
  padding-left: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
  text-align: center;
  line-height: 30px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(225, 224, 224, 0.472);
}

#wish-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wish-button {
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px;
  text-align: center;
  cursor: pointer;
}

.wish-button:hover {
  background-color: #f15252;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  padding-top: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  padding: 0 20px 20px 20px;
  cursor: pointer;
  object-fit: contain;
  transform-origin: top;
}

@media only screen and (max-width: 767px) {
  .modal-content {
    width: 100%;
    max-width: none;
    overflow: auto;
  }
}

.close-img {
  cursor: pointer;
  color: white;
  font-size: 40px;
  margin: 100px 50px 50px 50px;
}

#product-num-title {
  font-size: 0.8em;
  margin-bottom: 30px;
}

/* ##################### profile.html CSS ############################# */

#profile-container {
  flex-direction: column;
}

#upper-profile div {
  padding: 0 100px 0 100px;
}

#main-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  width: 80%;
  padding-right: 0;
  padding-bottom: 10px;
}

#profile-info-form ul {
  display: flex;
  justify-content: right;
  align-items: start;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  width: 100%;
  padding-right: 0;
}

#profile-info-form label {
  font-size: 0.8em;
}

#upper-profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile-info-form ul li:not(:last-child) {
  border-bottom: 1px solid gray;
}

#profile-info-form ul li h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

#profile-info-form ul li div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#profile-info-form input {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Noto Naskh Arabic", sans-serif;
  width: 70%;
}

#update-info-button {
  cursor: pointer;
  width: 12em;
  background-color: #cce5ff;
  border: 0;
  font-family: 'Noto Naskh Arabic', serif;
  font-size: 0.8em;
  text-wrap: nowrap;
  padding: 10px;
  transition-duration: 0.5s;
}

#profile-greeting {
  font-size: 1.5em;
  margin-top: 20px;
}

@media (max-width: 767px) {
  #profile-greeting {
    font-size: 1em;
  }
}

/* ##################### register.html CSS ############################# */

.sign-container form,
#checkout-container form {
  text-align: right;
  width: 350px;
  color: #525d85;
}

.input_label {
  line-height: 1;
  white-space: nowrap;
}

.sign-up-button {
  width: 100%;
  background-color: #cce5ff;
  font-family: "Noto Naskh Arabic", serif;
  border: 0;
  cursor: pointer;
  margin-right: 2px;
  transition-duration: 0.5s;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 50%;
}

.field-holder {
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
}

button {
  font-family: "Noto Naskh Arabic", sans-serif;
  border-radius: 10px;
}

/* ##################### remove_product.html CSS ############################# */

#removing-product-container,
#removing-product-container form,
#lower-profile,
#upper-profile,
#order-approved-container,
#order-info-container,
#checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#removing-product-container {
  padding: 30px 0 30px 0;
}

#removing-product-container form div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ##################### search_update_product.html CSS ############################# */

#search-updating-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 30px 0;
}

#search-product-id-button {
  font-family: "Noto Naskh Arabic", sans-serif;
  font-size: 1em;
  background-color: #cce5ff;
  border: 0;
  cursor: pointer;
  width: 60px;
  height: 50px;
  transition-duration: 0.5s;
}

#search-product-id-input {
  width: 20%;
}

/* ##################### shopping_cart.html CSS ############################# */

#shopping-cart-container {
  padding: 20px 20px 20px 20px;
}

#item-handle button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

#item-quantity button {
  cursor: pointer;
  width: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: #AD7765;
}

#item-quantity button:hover {
  color: black;
}

#shopping-cart-container table,
#shopping-cart-container th,
#shopping-cart-container td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1em;
}

#shopping-cart-container table {
  width: 100%;
}

#shopping-cart-container td {
  text-align: center;
  width: 25%;
}

#shopping-cart-container td a {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
  margin: 13px 0 0 0;
  padding-left: 0;
  padding-right: 0;
}

#shopping-cart-container td img {
  /*object-fit: fill;*/
  width: 100%;
  height: 100%;

}

.shopping-cart-buttons {
  /*width: 100%;*/
  background-color: #cce5ff;
  font-family: "Noto Naskh Arabic",serif;
  border: 0;
  cursor: pointer;
  margin-right: 2px;
  transition-duration: 0.5s;
}

.shopping-cart-buttons:hover {
  background-color: #e5e5e5;
}

.shopping-cart-buttons a {
  text-decoration: none;
  color: black;
}

.cart-item-quantity-select {
  margin-bottom: 20px;
  width: 50px;
}

/* ##################### update_product.html CSS ############################# */

.img-holder {
  position: relative;
  width: 30%;
  height: 400px;
  padding-bottom: 30px;
}

.img-holder img {
  object-fit: cover;
  height: 100%;
}


.image-delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.image-delete:hover {
  color: #cce5ff;
}