body {
  display: block;
  width: 100%;
  margin: 0;
  z-index: 1;
  /*position: absolute;*/
  /*right: 0;*/
  /*top: 0;*/
}


header {
  /*position: block;*/
  top: 0;
  left: -23px;
  width: 100%;
  height: 120px;
  z-index: 2;
  padding: 0 1rem;
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #f2e4d7;
}

.header-upper {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
}

.shopping-cart {
  position: absolute;
  left: 70px;
  top: 40px;
}

.shopping-cart-icon {
  color: #AD7765;
  font-size: 40px;
}

.shopping-cart-icon:hover {
  color: black;
}

.counter {
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #f2e4d7;
  text-align: center;
  font-size: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.profile {
  position: absolute;
  top: 40px;
  left: 150px;

}

.profile-icon {
  font-size: 40px;
  color: #AD7765;
  /*cursor: pointer;*/
}

.profile-icon:hover {
  color: black;
}

.menu-icon {
  font-size: 40px;
  color: #AD7765;
}

.menu-icon:hover {
  color: black;
}

.open-menu {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 40px;
  right: 50px;
  cursor: pointer;
}

#side-menu {
  position: fixed; /* Position absolutely */
  left: -400px; /* Hide off-screen */
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #ffffff;
  transition: left 0.3s ease-in-out; /* Smooth animation */
  z-index: 3;
  display: block;
  padding-top: 15px;
}

#side-menu.open {
  left: 0; /* Slide into view */
}

#side-menu ul {
  text-decoration: none;
  list-style: none;
  width: 100%;
}

#side-menu ul li{
  display: flow-root;
  padding: 15px 0;
}

#side-menu ul li:not(:last-child){
  border-bottom: 1px solid gray;
}

#side-menu ul li a {
  text-decoration: none;
  color: #AD7765;
  font-size: 30px;
  margin: 0;
}

#side-menu ul li a:hover {
  color: black;
  text-decoration: underline;
}

#close-side-menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-right: 30px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  /*left: 0;*/
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.3s ease-in-out;
}

#overlay.show {
  display: initial;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  height: 500px;
}

filters {
  position: sticky;
  /*display: block;*/
  top: 0;
  margin-right: 20px;
  /*flex: none;*/
  width: 200px;
  z-index: 2;
  
}

filters ul {
  text-decoration: none;
  list-style: none;
  width: 100%;
}

filters ul li{
  /*width: 100%;*/
  /*background-color: transparent;*/
  /*border: 0;*/
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  cursor: pointer;
}

filters ul li:first-child {
  cursor: initial;
}

filters ul li:not(:last-child){
  border-bottom: 1px solid gray;
}


products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px 10px;
}

product {
  /*display: flex;*/
  display: block;
  text-align: center;
  border-radius: 5%;
  color: #AD7765;
  background-color: #ffffff;
  width: 270px;
  height: 330px;
  /*padding: 0 21px;*/
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
              -2px -2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

product div {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  margin: auto;
  padding: 5px 0;
  width: 70%;
  height: 70%;

}

product span {
  margin: 0;
}

product hr {
  margin: 5px 40px;
}
body {
  flex: 1;
}
footer {
  height: 150px;
  width: 100%;
  /*box-sizing: border-box;*/
  background-color: #d2b1a6;
  display: flex;
  justify-content: space-between;
  /*padding: 0 70px;*/

}

footer div {
  display: block;
  text-align: center;
  padding: 0 75px;
}

footer div hr {
  height: 1.5px;
  width: 230px;
  color: white;
  background-color: white;
  margin: 0;
  border: #AD7765;
}

footer div a {
  text-decoration: none;

}

footer div iconify-icon {
  color: black;
  padding: 7px 0;
}

footer div iconify-icon:hover {
  color: #ffffff;
}
