<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>صفحة المسؤول</title>
</head>

<body>
  {% extends "profile.html" %}

  {% block admin %}
  <span style="color: #428403; border-radius: 30%; font-size: 0.6em">مسؤول</span>
  {% endblock %}

  {% block users_count %}
  <div id="users-count">
    <span style="color: #428403">
      عدد المسؤولين:
      {{admins_num}}
    </span>
    <span>
      عدد الزبائن:
      {{Users_num}}
    </span>
  </div>
  {% endblock %}


</body>
</html>