<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>طلبات جميع الزبائن</title>
</head>

<body>

  {% extends "admin_profile.html" %}

  {% block users_count %}
  {% endblock %}

  {% block lower_container %}
  <div id="all-orders-container">
    <b id="all-orders-title">جميع الطلبات - {{orders_num}}</b>
    <script>
      let initialValue = "";
    </script>
    {% set count = [1] %}
    {% for status in all_orders_dict.keys() %}
      <b class="table-titles">حالة الطلب <mark style="padding: 5px">{{status}}</mark> </b>
      <table class="all-orders-table">
        <tr>
          <th style="width: 5%;">رقم الطلب</th>
          <th style="width: 15%;">اسم الزبون</th>
          <th style="width: 20%;">تاريخ الطلب</th>
          <th style="width: 20%;">السعر الكلي</th>
          <th style="width: 20%;">حالة الطلب</th>
          <th style="width: 15%;">معلومات الطلب</th>
        </tr>
        {% for order in all_orders_dict[status] %}
        <tr>
          <td class="order-id-td">{{order[0]}}</td>
          <td class="order-fullname-td">{{order[2]}} {{order[3]}}</td>
          <td class="order-date-td">{{order[10]}}</td>
          <td class="order-total-td">
            <b>{{order[11]}}</b>
            <b>₪ </b>
            <br>
            <button id="edit-price-button" onclick="EditPrice(this)">
              <span class="material-symbols-outlined" style="font-size: 16px;">
                edit
              </span>
            </button>
            <script>
              function EditPrice(button) {
                let price = button.parentNode.children[0].textContent;
                let newTotal = prompt("السعر الجديد", price);
                if (newTotal !== null) {
                  newTotal.trim();
                  let isDigits = /^\d+[\.\d+]$/.test(newTotal);
                  if (isDigits) {
                    button.parentNode.children[0].textContent = newTotal;
                    document.getElementById("total-form").querySelector("input").value = button.parentNode.parentNode.children[0].textContent + "," + newTotal;
                    document.getElementById("total-form").submit();
                  } else {
                    alert("الرجاء إدخال قيمة صحيحة");
                  }
                }
              }
            </script>
            <form method="post" style="display: none" id="total-form">
              <input id="order-total-update" type="hidden" name="order-total-update">
            </form>
          </td>
          <td class="order-status-td">
            <div id="status-container{{count[0]}}">
              <select onchange="UpdateStatus(this)">
                {% for stat in statuses %}
                <option value="{{stat}}" 
                {% if stat == order[-3] %}selected {% endif %}
                {% if stat == "تم تأكيد الطلب" %} style="color: black" {% endif %}
                {% if stat == "تم التوصيل" %} style="color: lawngreen" {% endif %}
                {% if stat == "تم تجهيز الطلب" %} style="color: orange" {% endif %}>
                  {{stat}}
                </option>
                {% endfor %}
                <script>
                  selectNode = document.currentScript.parentNode;
                  if (selectNode.value === "تم تجهيز الطلب") {
                    selectNode.style.color = "orange";
                  } else if (selectNode.value === "تم التوصيل") {
                    selectNode.style.color = "lawngreen";
                  } else {
                    selectNode.style.color = "black";
                  }  
                </script>
              </select>
              &ensp;
              <!-- <button onclick="UpdateStatus(this)" style="cursor: pointer; margin-top: 10px; font-size: 0.8em">
                تعديل الحالة
              </button> -->
              <form method="post" style="display: none" id="status-form">
                <input id="order-status-update" type="hidden" name="order-status-update">
              </form>
            </div>
          </td>
          <td class="order-info-link">
            <a href="{{url_for('order_info', parent='all_Users_orders', order_id=order[0])}}" id="order-info-button">
              معاينة
              <br>
              <span class="show-order-info-eye material-symbols-outlined">
                visibility
              </span>
            </a>
          </td>
          <script>
              document.getElementById("status-container{{loop.index}}").querySelector("select").style.maxWidth = "100%";

              function EnableStatus(select) {
                  if (select.hasAttribute("disabled")) {
                      select.removeAttribute("disabled");
                  }
              }

              function UpdateStatus(select) {
                  if (!select.hasAttribute("disabled")) {
                      if (select.value === "تم تجهيز الطلب") {
                        select.style.color = "orange";
                      } else if (select.value === "تم التوصيل") {
                        select.style.color = "lawngreen";
                      } else {
                        select.style.color = "black";
                      }  
                        console.log("selected " + select.value);
                        console.log("initial " + initialValue);

                        document.getElementById("order-status-update").value = select.parentNode.parentNode.parentNode.children[0].textContent + "," + select.value;
                        document.getElementById("status-form").submit();
                  }
              }

              function UpdateColor(select) {
                if (select.value === "تم تجهيز الطلب") {
                    select.style.color = "orange";
                  } else if (select.value === "تم التوصيل") {
                    select.style.color = "lawngreen";
                  } else {
                    selectNode.style.color = "black";
                  }  
              }
          </script>
        </tr>
        {% set _ = count.append(count.pop() + 1) %}
        {% endfor %}
        <tr>
          <td colspan="5" style="text-align: right; padding-right: 20px">
            عدد الطلبيات:
          </td>
          <td>
            {{all_orders_dict[status]|length}}
          </td>
        </tr>
      </table>
      <br>
    {% endfor %}
  </div>
  <div id="total-orders-info" style="margin-bottom: 40px">
    <span>
      العدد الكلي للطلبيات: {{orders_num}}
    </span>
    <br><br>
    <span>
      المجموع الكلي للطلبيات: {{total_delivered}} ₪
    </span>
  </div>
  {% endblock %}

</body>
</html>