<!DOCTYPE html>
<html lang="ar" dir="rtl" style="font-family: 'Traditional Arabic',serif">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap">
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<!--  <title>موقع كتب</title>-->
</head>

<style>
  .flash-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-flash-message {
    background-color: #e5e5e5;
  }
  .warning-flash-message {
    background-color: #e5e5e5;
  }

  .success-flash-message {
    animation: fadeOut 15s ease-in-out forwards;
    opacity: 1;
    background-color: #e5e5e5;
  }

  @keyframes fadeOut {
    100% {
      opacity: 0;
      display: none;
    }
  }

  .shopping-cart {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
</style>

<body>
  <header>
    <div class="header-upper">
      <div id="header-right">
        <button class="open-menu" onclick="openMenu()" title="القائمة">
          <span class="material-symbols-outlined menu-icon">
            menu
          </span>
        </button>
        <button class="open-menu" style="display: none" onclick="openSearch()" title="القائمة" {% block no_search %}{% endblock %}>
          <span class="material-symbols-outlined search-icon">
            search
          </span>
        </button>
      </div>

      <div id="menu">
        <span id="overlay" onclick="closeMenu(true, true)"></span>
        <div id="side-menu">
<!--          <button title="إغلاق" id="close-side-menu">-->
            <span class="material-symbols-outlined" id="close-side-menu" style="cursor: pointer" onclick="closeMenu()">
              close
            </span>
<!--          </button>-->

          <ul role="list">
            <li><a href="{{url_for('home')}}">الصفحة الرئيسية</a></li>
            <li><a href="{{url_for('books')}}">كتب</a></li>
            <li style="position: relative">
              <span class="coming-soon-side">
                <span>
                  قريبًا
                </span>
              </span>
              <a href="{{url_for('clothes')}}">أزياء شرعية</a>
            </li>
            <li style="position: relative">
              <span class="coming-soon-side">
                <span>
                  قريبًا
                </span>
              </span>
              <a href="{{url_for('accessories')}}">إكسسوارات</a>
            </li>
            <li><a href="{{url_for('contact_us')}}">تواصل معنا</a></li>
            <li><a href="{{url_for('about')}}">من نحن</a></li>
          </ul>
          <div class="side-menu-footer">
            <footer style="background-color: white; border-top: 1px solid black; height: 50px; display: flex; justify-content: center; align-items: center">
              <a href="{{url_for('login')}}" class="profile" title="الصفحة الشخصية" style="display: flex; justify-content: center; align-items: center; text-decoration: none">
                <span class="material-symbols-outlined profile-icon">
                  person
                </span>
                <span style="color: #AD7765;">الحساب</span>
              </a>
            </footer>
          </div>
        </div>
      </div>

      <div id="search-menu">
        <button title="إغلاق" id="close-search-menu">
          <span class="material-symbols-outlined" style="cursor: pointer" onclick="closeMenu(false, true)">
            close
          </span>
        </button>
        <ul>
          <li>
            <label for="search-bar">
              <span class="material-symbols-outlined search-icon" style="color: black; font-size: 25px">
                search
              </span>
            </label>
            <input type="text" id="search-bar" placeholder="عن ماذا تبحث؟" autofocus>
          </li>
        </ul>
      </div>

      <div class="logo-container">
        <a href="{{url_for('home')}}" class="logo" title="الصفحة الرئيسية">
          <span class="logo">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="LOGO">
          </span>
        </a>
        <span style="text-align: center; margin: 0; font-family: 'Reem Kufi', sans-serif">
          نرتقي بعلمنا ونرتقي بعفتنا
        </span>
      </div>
      <div id="header-left">
        {% if user_role == "admin" %}
          <span style="padding: 3px; color: #428403">
            مسؤول
          </span>
        {% endif %}
        {% if user_role == "customer" %}
          <span style="padding: 3px;color: #e5e5e5">
            زبون
          </span>
        {% endif %}
        {% if user_role == "guest" %}
          <span style="padding: 3px; color: gray">
            ضيف
          </span>
        {% endif %}
        <a href="{{url_for('login')}}" class="profile" title="الصفحة الشخصية">
          <span class="material-symbols-outlined profile-icon">
            person
          </span>
        </a>
        {% if user_role != "admin" %}
          <div class="shopping-cart" onclick="GoShoppingCart()" title="سلة التسوق">
            <form id="cart-go-form" method="post" style="display: none" action="{{url_for('shopping_cart')}}">
              <input style="display: none" id="cart-items-input" name="cart-items-input" value="">
              <input style="display: none" id="cart-update" name="cart-update" value="no">
            </form>
            <span class="material-symbols-outlined shopping-cart-icon">
              shopping_cart
            </span>
            <span class="counter">
              0
            </span>
          </div>
        {% endif %}
      </div>
    </div>
  </header>
  {% block upper_container %}
  {% endblock %}

<!--  <nav class="breadcrumb-list">-->
<!--    <ul>-->
<!--      <li>-->
<!--        <a href="{{url_for('home')}}">الصفحة الرئيسية</a>-->
<!--        {% block breadcrumb_link %}-->
<!--        {% endblock %}-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->

  {% for message in get_flashed_messages(category_filter=["success"]) %}
    <div class="success-flash-message flash-message" role="alert" style="color: #428403; text-align: center">
      <h3>
        {{ message }}
      </h3>
      <button title="إغلاق" style="background-color: transparent; border: 0">
        <span class="material-symbols-outlined" style="cursor: pointer;" onclick="closeFlash(this)">
          close
        </span>
      </button>
    </div>
  {% endfor %}

  {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="error-flash-message flash-message" role="alert" style="color: red; text-align: center">
      <h3>
        {{ message }}
        <button title="إغلاق" style="background-color: transparent; border: 0">
          <span class="material-symbols-outlined" style="cursor: pointer;" onclick="closeFlash(this)">
            close
          </span>
        </button>
      </h3>
    </div>
  {% endfor %}

  {% for message in get_flashed_messages(category_filter=["warning"]) %}
    <div class="warning-flash-message flash-message" role="alert" style="color: orange; text-align: center">
      <h3>
        {{ message }}
        <button title="إغلاق" style="background-color: transparent; border: 0">
          <span class="material-symbols-outlined" style="cursor: pointer;" onclick="closeFlash(this)">
            close
          </span>
        </button>
      </h3>
    </div>
  {% endfor %}

  {% if user_role != "admin" %}
    <script>
        document.getElementById("cart-update").value = "No";

        // define cart counter in localStorage if not defined
        let counter = document.getElementsByClassName("counter")[0];
        if (localStorage.getItem("cartCounter") === null) {
            localStorage.setItem("cartCounter", "0");
        }
        // put the content of the counter as the stored counter value
        counter.textContent = localStorage.getItem("cartCounter");

        // define cart items in localStorage if not defined
        if (localStorage.getItem("cartItems") === null) {
            localStorage.setItem("cartItems", "{}");
        }
        // parse cartItems from localStorage as array to work with in the other html files
        let retrievedArray = JSON.parse(localStorage.getItem("cartItems"));



        // localStorage.setItem("cartCounter", "0");
        // localStorage.setItem("cartItems", "{}");

        function GoShoppingCart() {
            // get the current cart items and give it to input tag to give to python
            document.getElementById("cart-items-input").setAttribute("value", localStorage.getItem("cartItems"));
            document.querySelector(".shopping-cart form").submit();
            // window.location.href =  "{{url_for('shopping_cart')}}";
            // console.log(localStorage.getItem("cartItems"));
        }
    </script>
  {% endif %}

  {% block users_count %}
  {% endblock %}

  {% block lower_container %}
  {% endblock %}
  <footer>
    <div id="footer-top">
      <div id="who-we">
        <b>من نحن</b><br>
        <hr>
        موقع إرتقاء<br>
        نرتقي بعملنا ونرتقي بعفّتنا
      </div>
      <div id="important-links">
        <b>سياسات وشروط الخدمة</b><br>
        <hr>
        شروط الخدمة<br>
        سياسة الشحن<br>
        سياسة الخصوصية<br>
        سياسة الاستبدال والاسترجاع
      </div>
      <div id="contact-us">
        <b>تواصل معنا</b><br>
        <hr>
        <a href="mailto:mohammad.gh454@gmail.com">
          <iconify-icon icon="ic:outline-email"></iconify-icon>
        </a>
        <a href="https://wa.me/0528942919">
          <iconify-icon icon="mdi:whatsapp"></iconify-icon>
        </a>
        <a href="https://www.instagram.com/">
          <iconify-icon icon="mdi:instagram"></iconify-icon>
        </a>
        <a href="https://www.facebook.com/">
          <iconify-icon icon="mdi:facebook"></iconify-icon>
        </a>
      </div>
    </div>
    <div id="footer-bottom">
      <span>
        IrtikaaStore &copy; 2024
      </span>
      <br>
    </div>
  </footer>
  <script>
    function openMenu(){
        // const menuButton = document.getElementById('open-menu');
        const sideMenu = document.getElementById('side-menu');
        const overlay = document.getElementById('overlay');
        sideMenu.classList.toggle('open');
        overlay.classList.toggle('show');
    }

    function openSearch() {
        const searchMenu = document.getElementById('search-menu');
        const overlay = document.getElementById('overlay');
        searchMenu.classList.toggle('open');
        overlay.classList.toggle('show');
    }

    function closeMenu(isFilter=false, isSearch=false) {
        const sideMenu = document.getElementById('side-menu');
        const overlay = document.getElementById('overlay');
        const searchMenu = document.getElementById('search-menu');
        const filtersMenu = document.getElementById('filters');
        sideMenu.classList.remove('open');
        if (filtersMenu != null) {
          filtersMenu.classList.remove('open');
        }
        overlay.classList.remove('show');
        searchMenu.classList.remove('open');
        if (isFilter) {
            event.preventDefault();
            const spans = document.getElementsByClassName('filters-span');
            for (let i = 0; i < spans.length; i++) {
                if (spans[i].textContent === "expand_less") {
                    spans[i].textContent = "expand_more";
                }
            }
        }
        if (isSearch) {
            searchMenu.querySelector('input').value = "";
        }
    }

    function closeFlash(span) {
        const grandpa = span.parentNode.parentNode.parentNode.parentNode;
        const parent = span.parentNode.parentNode.parentNode;
        grandpa.removeChild(parent);
    }
  </script>
<!--  {% block approved_contact %}-->
<!--  {% endblock %}-->
</body>
</html>
