<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>الدفع</title>
</head>

<style>
  #checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #checkout-container form {
    text-align: right;
    width: 350px;
    color: #525d85;
  }

  .input_field {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid rgba(12, 27, 84, .5);
    font-family: "Traditional Arabic", serif;
    font-size: 0.9em;
    padding-right: 10px;
  }

  #lower-checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*column-gap: 10px;*/
    margin: 20px 0 20px 0;
  }

  #checkout-button, #register-guest-button, #continue-as-guest-button {
    /*width: 100%;*/
    background-color: #cce5ff;
    font-family: "Traditional Arabic",serif;
    border: 0;
    cursor: pointer;
    margin-right: 2px;
    padding: 10px;
    transition-duration: 0.5s;
  }

  #checkout-button:hover, #register-guest-button:hover, #continue-as-guest-button:hover {
    background-color: #e5e5e5;
  }

  .password-container {
    position: relative;
  }

  .error-border {
      border-color: red !important; /* Red border color */
  }

  .show-password-btn {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }


</style>

<body>
  {% extends "base.html" %}

  {% block no_search %}hidden{% endblock %}

  {% block lower_container %}
  <div id="checkout-container">
    <h3>
      الرجاء إدخال معلومات الشحن الخاصة بك
    </h3>
    <form method="post" id="checkout-form">
      <div class="field-holder" >
        <label for="customer-first-name" class="input_label">الاسم الأول</label><br>
        <input type="text" id="customer-first-name" class="input_field" name="customer-first-name" autocomplete="given-name" required>
      </div>
      <div class="field-holder" >
        <label for="customer-last-name" class="input_label">اسم العائلة</label><br>
        <input type="text" id="customer-last-name" class="input_field" name="customer-last-name" autocomplete="family-name" required>
      </div>
      <div class="field-holder">
        <label for="customer-city" class="input_label">البلد</label><br>
        <select id="customer-city" class="input_field" name="customer-city" required style="width: 365px; background-color: white" onchange="AddShipping()">
          <option value="اختر بلد">اختر بلد</option>
          {% for city in cities %}
            <option value="{{city}}">{{city}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field-holder" >
        <label for="customer-address" class="input_label">العنوان</label><br>
        <input type="text" id="customer-address" class="input_field" name="customer-address" autocomplete="address" required>
      </div>
      <div class="field-holder">
        <label for="customer-email" class="input_label">البريد الإلكتروني</label>
        <input type="email" id="customer-email" class="input_field" name="customer-email" autocomplete="email" required>
      </div>
      <div class="field-holder">
        <label for="customer-phone" class="input_label">رقم الهاتف الشخصي</label>
        <input type="tel" id="customer-phone" class="input_field" name="customer-phone" autocomplete="phone" required style="text-align: right" maxlength="10">
      </div>
      <div class="field-holder" >
        <label for="customer-backup-phone" class="input_label">رقم هاتف إحتياطي (إختياري)</label><br>
        <input type="tel" id="customer-backup-phone" class="input_field" name="customer-backup-phone" autocomplete="phone" style="text-align: right" maxlength="10">
      </div>
      <div class="field-holder password-container" {% if not cur_user %}style="display: none"{% endif %}>
        <label for="customer-password" class="input_label">كلمة المرور</label>
        <input type="password" id="customer-password" class="input_field" name="customer-password" autocomplete="new-password" minlength="8" maxlength="20">
        <span class="show-password-btn material-symbols-outlined" onclick="togglePasswordVisibility()">
          visibility_off
        </span>
        <span style="font-size: 0.7em; color: #9d9898;">
          طول كلمة المرور  8 - 20 رقم أو حرف
        </span>
      </div>
      {% if user_role == "guest" %}
        <h4 id="register-notice" style="text-align: center; color: red;">
          🛑🛑🛑<br>
          إذا لم تسجّل في الموقع فلن يمكنك تتبع الطلب الخاص بك, للتسجيل في الموقع
        </h4>
      {% endif %}
      <button type="button" id="register-guest-button" onclick="RegisterGuest(this)">
        للتسجيل بالموقع
      </button>
      <button type="button" id="continue-as-guest-button" onclick="ContinueAsGuest(this)" style="display: none;">
        الإكمال كضيف
      </button>
      <div id="lower-checkout">
        <span>
          المجموع الكلي:
          <b>{{total}}</b> ₪
          <span style="font-size: 0.6em">
            ({{total}} +
            <b>0
              <script>
                if (document.getElementById("customer-city").value !== "اختر بلد") {
                  document.currentScript.parentNode.textContent = "25";
                  document.getElementById("lower-checkout").children[0].querySelector("b").textContent = (parseFloat("{{total}}") + 25).toString();
                }
              </script>
            </b>
            رسوم شحن)
          </span>
        </span>
        <button type="submit" id="checkout-button">
          تأكيد الطلب
        </button>
      </div>
    </form>
  </div>
  <script>
    function RegisterGuest(button) {
      document.getElementsByClassName("password-container")[0].style.display = "block";
      button.style.display = "none";
      document.getElementById("continue-as-guest-button").style.display = "block";
      document.getElementById("register-notice").style.display = "none";

      document.getElementById("customer-password").setAttribute("required", "true");
    }
    function ContinueAsGuest(button) {
      document.getElementsByClassName("password-container")[0].style.display = "none";
      button.style.display = "none";
      document.getElementById("register-guest-button").style.display = "block";
      document.getElementById("register-notice").style.display = "block";

      document.getElementById("customer-password").setAttribute("required", "false");
    }
  </script>
  {% if cur_user %}
    <script>
      document.getElementById("customer-first-name").value = "{{cur_user.first_name}}";
      document.getElementById("customer-last-name").value = "{{cur_user.last_name}}";
      document.getElementById("customer-phone").value = "{{cur_user.phone_number}}";
      document.getElementById("customer-address").value = "{{cur_user.address}}";
      document.getElementById("customer-backup-phone").value = "{{cur_user.backup_phone}}" === "None" ? "" : "{{cur_user.backup_phone}}";
      document.getElementById("customer-email").value = "{{cur_user.email}}";
      let citiesParent = document.getElementById("customer-city");
      const all_cities = citiesParent.children;
      for (let i = 0; i < all_cities.length; i++) {
          if (all_cities[i].value.includes("{{cur_user.city}}")) {
              citiesParent.selectedIndex = i;
              break;
          }
      }

    </script>
  {% endif %}
  <script>
      const totalPriceSpan = document.querySelector("#lower-checkout").children[0];
      const totalPriceB = totalPriceSpan.querySelector("b");
      const shippingSpan = totalPriceSpan.querySelector("span");
      const shippingB = shippingSpan.querySelector("b");
      const cityInput = document.getElementById("customer-city");
      if (cityInput.value !== "اختر بلد") {
        console.log("what happened");
          AddShipping();
      }

      function AddShipping() {
          let newTotal = parseFloat("{{total}}") + 25;
          totalPriceB.textContent = newTotal.toString();
          // TODO - shipping value for each city
          let newShippingValue = parseFloat(shippingB.textContent);
          newShippingValue = 25;
          shippingB.textContent = newShippingValue.toString();
          // shippingSpan.style.display = "block";
      }

      function togglePasswordVisibility() {
          const passwordInput = document.getElementById('customer-password');
          const showPasswordBtn = document.querySelector('.show-password-btn');

          if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            showPasswordBtn.textContent = 'visibility';
        } else {
            passwordInput.type = 'password';
            showPasswordBtn.textContent = 'visibility_off';
        }
    }

    const inputField = document.getElementById('customer-city');
    const initialValue = inputField.value;
    inputField.addEventListener('input', function () {
        // var x =inputField.initialValue;
        console.log(inputField.value);
        if (inputField.value === initialValue) {
            inputField.classList.add('error-border');
        } else {
            inputField.classList.remove('error-border');
        }

    });

    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('checkout-form');
        const inputField = document.getElementById('customer-city');

        // Add a submit event listener to the form
        form.addEventListener('submit', function (event) {
            if (inputField.value === initialValue) {
                // Prevent form submission if content is not changed
                inputField.classList.add('error-border');
                event.preventDefault();
                alert('Please change the city before submitting.');
            } else {
                inputField.classList.remove('error-border');
            }
        });
    });
  </script>
  {% endblock %}

</body>
</html>