<!DOCTYPE html>
<html lang="ar" dir="rtl" style="font-family: 'Noto Naskh Arabic',serif">
<head>
  <title>نور الفضيلة</title>
</head>
<body>
  {% extends "base.html" %}

  {% block breadcrumb_link %}
  /
  <a href="{{url_for('clothes')}}">أزياء شرعية</a>
  {% endblock %}
  {% block lower_container %}

  <products class="products">
    {% for product in products %}
    <product class="product">
      <div class="upper-product">
        <img src="{{ url_for('static', filename='images/clothes/')}}{{product}}" alt="product">
      </div>
      <div class="lower-product">
        <span>
          {{ product[:-4] }}
        </span>
        <hr style="height: 1px; width: 70%;">
        <span>
          25₪
        </span>
      </div>
    </product>
    {% endfor %}
  </products>
<!--  <br>-->
  {% endblock %}
<!--  <footer>-->
<!--    <div class="who-we">-->
<!--      من نحن-->
<!--      <hr>-->
<!--      نور الفضيلة موقع أزياء شرعية-->
<!--    </div>-->
<!--    <div class="important-links">-->
<!--      روابط مهمة-->
<!--      <hr>-->
<!--      طريقة إختيار المقاس<br>-->
<!--      سياسة الخصوصية<br>-->
<!--      سياسة الاستبدال والاسترجاع-->
<!--    </div>-->
<!--    <div class="contact-us">-->
<!--      تواصل معنا-->
<!--      <hr>-->
<!--      <a href="mailto:mohammad.gh454@gmail.com">-->
<!--        <iconify-icon icon="ic:outline-email"></iconify-icon>-->
<!--      </a>-->
<!--      <a href="https://wa.me/0528942919">-->
<!--        <iconify-icon icon="mdi:whatsapp"></iconify-icon>-->
<!--      </a>-->
<!--      <a href="https://www.instagram.com/">-->
<!--        <iconify-icon icon="mdi:instagram"></iconify-icon>-->
<!--      </a>-->
<!--      <a href="https://www.facebook.com/">-->
<!--        <iconify-icon icon="mdi:facebook"></iconify-icon>-->
<!--      </a>-->
<!--    </div>-->
<!--  </footer>-->
</body>
</html>
