<!DOCTYPE html>
<html lang="ar" dir="rtl" style="font-family: 'Noto Naskh Arabic',serif">
<head>
  <title>نور الفضيلة</title>
</head>
<body>
  {% extends "base.html" %}

  {% block breadcrumb_link %}
  /
  <a href="{{url_for('clothes')}}">أزياء شرعية</a>
  {% endblock %}
  {% block lower_container %}

  <products class="products">
    {% for product in products %}
    <product class="product">
      <div class="upper-product">
        <img src="{{ url_for('static', filename='images/clothes/')}}{{product}}" alt="product">
      </div>
      <div class="lower-product">
        <span>
          {{ product[:-4] }}
        </span>
        <hr style="height: 1px; width: 70%;">
        <span>
          25₪
        </span>
      </div>
    </product>
    {% endfor %}
  </products>
  {% endblock %}
</body>
</html>
