<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>نسيت كلمة المرور</title>
</head>
<body>
  {% extends "base.html" %}
  {% block no_search %}hidden{% endblock %}
  {% block breadcrumb_link %}
  / <a href="{{url_for('forgot_password')}}">استعادة كلمة المرور</a>
  {% endblock %}
  {% block lower_container %}
  <div class="sign-container">
    <div class="upper-form">
      <h2>استعادة كلمة المرور</h2>
      <p id="login-method-title">الرجاء اختيار طريقة الدخول المناسبة</p>
      <p id="email-login-title" style="display: none;">الرجاء إدخال البريد الإلكتروني وكلمة المرور:</p>
      <p id="phone-login-title" style="display: none">الرجاء إدخال رقم الهاتف وكلمة المرور:</p>
    </div>
    <div class="form-container">
      <form method="post" style="text-align: right">
        <div id="login-method-selector">
          <button type="button" class="login-method" id="email-method" onclick="CheckLoginMethod(this)">
            البريد الإلكتروني
          </button>
          <button type="button" class="login-method" id="phone-method" onclick="CheckLoginMethod(this)">
            رقم الهاتف
          </button>
          <input hidden="hidden" type="text" id="login-method-input" name="login-method" value="">
        </div>
        <div class="field-holder" id="email-method-holder" style="display: none">
          <label for="customer-email" class="input_label">البريد الإلكتروني</label>
          <input type="email" id="customer-email" class="input_field" name="customer-email" autocomplete="email" required>
        </div>
        <div class="field-holder" id="phone-method-holder" style="display: none">
          <label for="customer-phone" class="input_label">رقم الهاتف الشخصي</label>
          <input type="tel" id="customer-phone" class="input_field" name="customer-phone" autocomplete="phone" required style="text-align: right" maxlength="10">
        </div>
        <br>
        <button type="submit" class="sign-in-button">
          استرداد
        </button>
        <p style="text-align: center; font-size: 0.8em">
          تَذْكر كلمة المرور الخاصة بك؟<br>
          <a href="#" onclick="window.history.back();">
            الرجوع لتسجيل الدخول
          </a>
        </p>
      </form>
    </div>
  </div>
  <br>
  <script>
    function CheckLoginMethod(button) {
      document.getElementById("login-method-title").style.display = "none";

      if (button.id === "phone-method") {
          document.getElementById("login-method-input").value = "phone";

          document.getElementById("phone-method-holder").style.display = "block";
          document.getElementById("phone-login-title").style.display = "block";
          document.getElementById("customer-phone").setAttribute("required", "true");

          document.getElementById("email-method-holder").style.display = "none";
          document.getElementById("email-login-title").style.display = "none";
          document.getElementById("customer-email").removeAttribute("required");
      } else {
          document.getElementById("login-method-input").value = "email";

          document.getElementById("email-method-holder").style.display = "block";
          document.getElementById("email-login-title").style.display = "block";
          document.getElementById("customer-email").setAttribute("required", "true");

          document.getElementById("phone-method-holder").style.display = "none";
          document.getElementById("phone-login-title").style.display = "none";
          document.getElementById("customer-phone").removeAttribute("required");
      }

      document.getElementById("new-user").style.display = "block";
      document.getElementsByClassName("password-container")[0].style.display = "block";
      document.getElementById("customer-password").setAttribute("required", "true");
      document.getElementsByClassName("sign-in-button")[0].style.display = "block";
    }
  </script>
  {% endblock %}


</body>
</html>