<!DOCTYPE html>
<html lang="ar" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>التعامل مع المنتجات</title>
</head>

<body>

  {% extends "admin_profile.html" %}

  {% block users_count %}
  {% endblock %}

  {% block lower_container %}
  <div id="products-handling-container">
    <button class="handle-products-button">
      <a href="{{url_for('add_product')}}">
        إضافة منتج
      </a>
    </button>
    <button class="handle-products-button">
      <a href="{{url_for('search_update_product')}}">
        تعديل منتج
      </a>
    </button>
    <button class="handle-products-button">
      <a href="{{url_for('remove_product')}}">
        إزالة منتج
      </a>
    </button>
  </div>
  {% endblock %}

</body>
</html>