<!DOCTYPE html>
<html lang="ar" dir="rtl" style="font-family: 'Noto Naskh Arabic',serif">
<head>
  <title>متجر إرتقاء</title>
</head>

<body>
  {% extends "base.html" %}

  {% block no_search %}hidden{% endblock %}

  {% block lower_container %}

  <div class="container">
    <div class="books-shopping" title="كتب">
      <a href="{{url_for('books')}}">
        <img src="{{url_for('static', filename='images/books_logo.jpg')}}" alt="books">
        <span>مكتبة ورثة الأنبياء</span>
      </a>
    </div>
    <div class="clothes-shopping" title="أزياء شرعية">
      <a href="{{url_for('clothes')}}" >
        <img src="{{ url_for('static', filename='images/clothes_logo.jpg')}}" alt="clothes">
        <span>نور الفضيلة للألبسة الشرعية</span>
      </a>
    </div>
    <div class="gifts_corner-shopping" title="ركن الهدايا" style="opacity: 0.5; pointer-events: none;">
      <a href="{{url_for('gifts_corner')}}" onclick="giftsDisabled()">
        <img src="{{ url_for('static', filename='images/gifts_corner_logo.png')}}" alt="gifts">
        <span>ركن الهدايا</span>
      </a>
    </div>
    <script>
      function giftsDisabled() {
        const confirmGuestCheckout = confirm("عذراً، ركن الهدايا غير متوفر حالياً.");
      }
    </script>
  </div>
  {% endblock %}
</body>
</html>
