<!DOCTYPE html>
<html lang="ar" dir="rtl" style="font-family: 'Traditional Arabic',serif">
<head>
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--&lt;!&ndash;  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">&ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
<!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />-->
<!--  <link rel="stylesheet" href="../static/styles.css" />-->
<!--  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>-->
  <title>متجر إرتقاء</title>
</head>

<body>
  {% extends "base.html" %}

  {% block no_search %}hidden{% endblock %}

  {% block lower_container %}

<!--  <br>-->
  <div class="container">
    <div class="books-shopping" title="كتب">
      <a href="{{url_for('books')}}">
        <img src="https://drive.google.com/thumbnail?id=1Hc2iQOr5Xn3ZZumoy_EW-Jj7AstRT-wm&sz=w1000" alt="books">
        <span style="color: black; font-size: 0.9em; font-family: 'Reem Kufi', sans-serif">مكتبة ورثة الأنبياء</span>
      </a>
    </div>
    <div class="clothes-shopping" title="أزياء شرعية">
      <span class="coming-soon">
        <span>
          &ensp;قريبًا
        </span>
      </span>
      <a href=""> <!-- {{url_for('clothes')}}-->
<!--        <img src="{{ url_for('static', filename='images/clothes_logo.jpg')}}" alt="clothes">-->
        <span style="color: black; font-size: 0.9em; ; font-family: 'Reem Kufi', sans-serif" >متجر نور الفضيلة للألبسة الشرعية</span>
      </a>
    </div>
    <div class="accessories-shopping" title="إكسسوارات">
      <span class="coming-soon">
        <span>
          &ensp;قريبًا
        </span>
      </span>
      <a href=""> <!-- {{url_for('accessories')}}-->
<!--        <img src="{{ url_for('static', filename='images/accessories_logo.png')}}" alt="clothes">-->
        <span style="color: black; font-size: 0.9em; ; font-family: 'Reem Kufi', sans-serif" >إكسسوارات</span>
      </a>
    </div>
  </div>
<!--  <br>-->
  {% endblock %}
</body>
</html>
