<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>كلمة مرور جديدة</title>
</head>

<body>
  {% extends "base.html" %}

  {% block no_search %}hidden{% endblock %}

  {% block lower_container %}
  <div class="sign-container">
    <div>
        <h2>كلمة مرور جديدة</h2>
    </div>
    <div class="form-container">
      <form method="post">
          <div class="field-holder">
              <label for="new-password" class="input_label">كلمة المرور الجديدة</label>
              <div class="password-div">
                <input type="password" id="new-password" class="input_field" name="new-password" required>
                <span class="show-password-btn material-symbols-outlined" onclick="togglePasswordVisibility()">
                  visibility_off
                </span>
              </div>
          </div>
          <div class="field-holder">
              <label for="confirm-password" class="input_label">تأكيد كلمة المرور</label>
              <input type="password" id="confirm-password" class="input_field" name="confirm-password" required>
          </div>
          <button type="submit" class="sign-in-button">
              تأكيد
          </button>
      </form>
    </div>
  </div>
  <br>
  <script>
    function togglePasswordVisibility() {
      let passwordInput = document.getElementById('new-password');
      let showPasswordBtn = document.querySelector('.show-password-btn');

      if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          showPasswordBtn.textContent = 'visibility';
      } else {
          passwordInput.type = 'password';
          showPasswordBtn.textContent = 'visibility_off';
      }
  }
  </script>
  {% endblock %}
</body>
</html>