<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>الطلبات</title>
</head>

<body>
  {% extends "profile.html" %}

  {% block lower_container %}
  <div id="orders-container">
    <h2>الطلبات الخاصة بك - {{orders_num}}</h2>
    {% for status in all_orders_dict.keys() %}
      <h4>حالة الطلب <mark>{{status}}</mark></h4>
      <table class="all-orders-table">
        <tr>
          <th style="width: 20%;">رقم الطلب</th>
          <th style="width: 20%;">تاريخ الطلب</th>
          <th style="width: 20%;">المجموع الكلي</th>
          <th style="width: 20%;">حالة الطلب</th>
          <th style="width: 20%;">معلومات الطلب</th>
        </tr>
        {% for order in all_orders_dict[status] %}
        <tr>
          <td class="order-id-td">{{order[0]}}</td>
          <td class="order-date-td">{{order[10]}}</td>
          <td class="order-total-td" style="font-size: 0.8em; padding-bottom: 20px">
            <b>
              ₪ {{order[11]}}
            </b>
          </td>
          <td class="order-status-td">
            <p>{{order[12]}}</p>
          </td>
          <td class="order-info-link">
            <a href="{{url_for('order_info', parent='orders', order_id=order[0])}}" id="order-info-button">
              معاينة الطلب
              <span class="show-password-btn material-symbols-outlined" onclick="togglePasswordVisibility()">
                visibility
              </span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </div>
  {% endblock %}


</body>
</html>