<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>تأكيد الطلب</title>
</head>

<body>
  {% extends "base.html" %}

  {% block no_search %}hidden{% endblock %}

  {% block lower_container %}
  <div id="order-approved-container">
    <h1 style="color: greenyellow; margin-bottom: 0">تم تأكيد الطلب!</h1>
    <h5 style="color: #AD7765; margin: 0 0 10px 0">سيتم التواصل معك عند وجود حتلنات</h5>
    <div id="approved-contact" style="margin-bottom: 20px">
    </div>
    <button id="approve-order-button">
      <a href="{{url_for('home')}}" style="text-decoration: none; color: black">
        للذهاب للصفحة الرئيسية
      </a>
    </button>
  </div>
  <script>
      localStorage.clear();
      counter.textContent = "0";
      function GoToContactUs() {
          const footerDiv = document.getElementsByTagName("footer")[0];
          if (footerDiv) {
              footerDiv.scrollIntoView({behavior: 'smooth'});
          }
      }
  </script>
  {% endblock %}
</body>
</html>