<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>{{result[1]}}</title>
</head>

<body>
  {% extends "base.html" %}

  {% block lower_container %}
  <div id="product-container">
    <div id="product-right-side">
      <div id="images-gallery-container">
        {% for image in images %}
        
        <div class="slides" style="width: 100%; height: 100%">
          <img src="{{url_for('static', filename=image)}}" alt="" style="width: 100%; height: 100%; object-fit: fill" onclick="EnlargeImg(this)">
          <!-- <img src="{{url_for('static', filename=image)}}" alt="Your Image" style="width: 100%; height: 100%; object-fit: fill; max-width: 300px" onclick="EnlargeImg(this)"> -->
          <div class="modal" onclick="">
            <span class="material-symbols-outlined close-img" onclick="CloseImg(this)">
              close
            </span>
            <img class="modal-content">
            <div id="caption"></div>
          </div>
        </div>
        {% endfor %}
        <a class="next" onclick="MoveSlides(1)">&#10094;</a>
        <a class="prev" onclick="MoveSlides(-1)">&#10095;</a>
        <script>
            // hide the next and prev symbols if there is just one image
            const productImages = "{{result[3]}}";
            if (productImages.indexOf("&") === -1) {
                document.getElementsByClassName("next")[0].style.display = "none";
                document.getElementsByClassName("prev")[0].style.display = "none";
            }

            function EnlargeImg(img) {
              var modal = img.parentNode.children[1];
              var modalImg = img.parentNode.children[1].querySelector("img");
              var zoomed = false;

              
              modal.style.display = "flex";
              modalImg.src = img.src;


              modalImg.onclick = function() {
                if (!zoomed) {
                  modalImg.style.transform = "scale(2)";
                  zoomed = true;
                } else {
                  modalImg.style.transform = "scale(1)";
                  zoomed = false;
                }
              }
              document.getElementsByTagName("body")[0].style.overflow = "hidden";
              modal.style.overflow = "auto";
            }
            
            function CloseImg(span) {
              document.getElementsByTagName("body")[0].style.overflow = "auto";
              var modal = span.parentNode;
              var modalImg = span.parentNode.querySelector("img");
              
              modal.style.display = "none";
              modalImg.src = "";
              zoomed = false;
            }

        </script>
      </div>
      <script>
          let slideIndex = 0;
          let slides = document.getElementsByClassName("slides");
          MoveSlides();

          function HideSlides(avoid) {
              for (let i = 0; i < slides.length; i++) {
                  if (i === avoid) continue;
                  slides[i].style.display = "none";
              }
          }

          function MoveSlides(n=0) {
              if (n === 0) {
                  HideSlides(0);
                  slides[0].style.display = "block";
              }
              else if (n === 1 && slideIndex + 1 < slides.length) {
                  slideIndex++;
                  HideSlides(slideIndex);
                  slides[slideIndex].style.display = "block";
              }
              else if (n === -1 && slideIndex > 0) {
                  slideIndex--;
                  HideSlides(slideIndex);
                  slides[slideIndex].style.display = "block";
              }
          }
      </script>
    </div>
    <div id="product-left-side">
      <span id="product-num-title" style="background-color: #e5e5e5; width: 7em; text-align: center">
        رقم المنتج: {{result[0]}}
      </span>
      {% if result[5] == 0 %}
        <h2 style="background-color: #f56767; width: 100%; text-align: center; margin-top: 0; height: 50px;">
          نفد المخزون
        </h2>
        <form method="post" id="wish-product-form">
          <input type="hidden" value="{{result[0]}}" id="wish-product-id" name="wish-product-id">
        </form>
<!--        <div id="wish-product">-->
<!--          <span style="background-color: #ddc36c">-->
<!--            إن كنت مهتمًّا بإعادة هذا المنتج إلى المخزون-->
<!--          </span>-->
<!--          <span class="material-symbols-outlined wish-button" onclick="WishProduct()">-->
<!--            favorite-->
<!--          </span>-->
<!--        </div>-->
<!--        <script>-->
<!--          function WishProduct() {-->
<!--              document.getElementById("wish-product").style.display = "none";-->
<!--              document.getElementById("wish-product-form").submit();-->
<!--          }-->
<!--        </script>-->
      {% endif %}
      <div id="product-left-upper">
        <span style="margin-top: 0; margin-bottom: 20px; font-size: 1em; font-family: Reem Kufi, Noto Naskh Arabic">
          {{result[1]}}
        </span>
        <span style="font-size: 1.1em;">
          {{result[4]}} ₪
        </span>
        <span style="margin-bottom: 20px; font-size: 0.7em; color: rgb(90, 89, 89)">
          تكلفة الشحن ستحسب عند ادخال العنوان
        </span>
      </div>
      <br>
      <!-- {% if user_role == "admin" %}
        <div id="product-left-options">
          <b>
            الخيارات
          </b>
          <br>
          <div>
            <input type="checkbox" id="package-as-gift" name="package-as-gift">
            <label for="package-as-gift">التغليف كهدية 10₪</label>
          </div>
          <div>
            <input type="checkbox" id="ehdaa" name="ehdaa" onchange="EhdaaChange()">
            <label for="ehdaa">إهداء 10₪</label>
            <br>
            <div id="ehdaa-text-div" style="display: none;">
              <textarea id="ehdaa-text" name="ehdaa-text"></textarea>
            </div>
          </div>
        </div>
        <script>
          function EhdaaChange() {
            if (document.getElementById("ehdaa").checked) {
              document.getElementById("ehdaa-text-div").style.display = "block";
            } else {
              document.getElementById("ehdaa-text-div").style.display = "none";
            }
          }
        </script>
      {% endif %} -->
      <!-- <br> -->
      <div id="product-left-lower">
        {% if user_role != "admin" %}
          <button id="add-to-cart-button" onclick="AddToCart()">
            إضافة إلى سلة التسوق
          </button>
          <a href="#" style="display: none; font-size: 0.8em" id="go-to-shop-cart" onclick="ClickOnCart()">
            الذهاب إلى سلة التسوق
          </a>
          <form method="post" id="update-cart-form">
            <input type="hidden" name="cart-item-id-update" id="cart-item-id-update">
            <input type="hidden" name="cart-items-update" id="cart-items-update">
            <input type="hidden" name="item-price-update" id="item-price-update">
          </form>
          <script>
            // const addToCartButton = document.getElementById("add-to-cart-button");
            // const counter1 = document.getElementsByClassName("counter")[0];
            // addToCartButton.setAttribute("onclick", "AddToCart()");

            function AddToCart() {
                // checking if the user has already put the maximum number of items from this product in cart
                const itemsLeft = document.querySelector("#items-left b");
                if (parseInt(itemsLeft.textContent) === 0) {
                    window.alert("لا يوجد المزيد من هذا المنتج");
                    return;
                } else if (parseInt(itemsLeft.textContent) < parseInt(retrievedArray["{{result[0]}}"]) + 1) {
                    window.alert(`يمكنك إضافة فقط ${itemsLeft.textContent} من هذا المنتج`);
                    return;
                }

                // increment the shopping cart counter
                const newCounter = parseInt(counter.textContent) + 1;
                counter.textContent = newCounter.toString();
                localStorage.setItem("cartCounter", counter.textContent);

                // checking if there is already items from the current product
                if (retrievedArray["{{result[0]}}"] === undefined) {
                    // let dict = {"count": 1};
                    // if (document.getElementById("package-as-gift").checked){
                    //   dict["gift"] = true;
                    // }
                    // if (document.getElementById("ehdaa").checked) {
                    //   dict["ehdaa"] = true;
                    //   dict["ehdaa-text"] = document.getElementById("ehdaa-text").text;
                    // }
                    // retrievedArray.push(["{{result[0]}}", dict]);
                    retrievedArray["{{result[0]}}"] = "1";
                } 
                else {
                    // increment the current amount of items from this product
                    const newItemCounter = parseInt(retrievedArray["{{result[0]}}"]) + 1;
                    retrievedArray["{{result[0]}}"] = newItemCounter.toString();
                }
                // store the changed cart items array
                localStorage.setItem("cartItems", JSON.stringify(retrievedArray));

                document.getElementById("go-to-shop-cart").style.display = "block";

                document.getElementById("cart-item-id-update").value = "{{result[0]}}";
                document.getElementById("cart-items-update").value = localStorage.getItem("cartItems");
                document.getElementById("item-price-update").value = "{{result[4]}}";
                // document.getElementById("update-cart-form").submit();
            }

            function ClickOnCart() {
                document.getElementsByClassName("shopping-cart")[0].click();
            }

          </script>
        {% endif %}

        <!-- <br> -->
        <span id="items-left" style="font-size: 0.8em;">
          الكمية المتبقية:
          <b style="text-decoration: underline;">{{result[5]}}</b>
        </span>
        <p style="font-size: 0.8em;">
          {{result[6]}}
        </p>
        <!-- <span>
          سنة النشر: {{result[7]}}
        </span>
        <span>
          المؤلف: {{result[8]}}
        </span> -->
        <!-- <span>
          تصنيفات: {{result[9]}}
        </span> -->
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>