<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>التسجيل</title>
</head>

<body>
  {% extends "base.html" %}
  {% block no_search %}hidden{% endblock %}
  {% block breadcrumb_link %}
  / <a href="{{url_for('register')}}">تسجيل</a>
  {% endblock %}
  {% block lower_container %}
  <div class="sign-container">
    <div class="upper-form">
      <h2>تسجيل</h2>
      <p>من فضلك إملأ الحقول في الأسفل:</p>
    </div>
    <div class="form-container">
      <form method="post" id="sign-up-form">
        <div class="field-holder">
          <label for="customer-phone" class="input_label">رقم الهاتف الشخصي <span style="font-size: 0.6em">(يستخدم في تسجيل الدخول للموقع)</span></label>
          <input type="tel" id="customer-phone" class="input_field" name="customer-phone" autocomplete="phone" required style="text-align: right" maxlength="10">
        </div>
        <div class="field-holder">
          <label for="customer-email" class="input_label">البريد الإلكتروني <span style="font-size: 0.6em">(يستخدم في تسجيل الدخول للموقع)</span></label>
          <input type="email" id="customer-email" class="input_field" name="customer-email" autocomplete="email" required>
        </div>
        <div class="field-holder" >
          <label for="customer-first-name" class="input_label">الاسم الأول</label>
          <input type="text" id="customer-first-name" class="input_field" name="customer-first-name" autocomplete="given-name" required>
        </div>
        <div class="field-holder" >
          <label for="customer-last-name" class="input_label">اسم العائلة</label>
          <input type="text" id="customer-last-name" class="input_field" name="customer-last-name" autocomplete="family-name" required>
        </div>
        <div class="field-holder" >
          <label for="customer-city" class="input_label">البلد</label>
          <select id="customer-city" class="input_field" name="customer-city" required style="width: 365px; background-color: white">
            <option value="اختر بلد">اختر بلد</option>
            {% for city in cities %}
              <option value="{{city}}">{{city}}</option>
            {% endfor %}
          </select>
<!--          <input type="text" id="customer-city" class="input_field" name="customer-city" autocomplete="city" required>-->
        </div>
        <div class="field-holder" >
          <label for="customer-address" class="input_label">العنوان</label>
          <input type="text" id="customer-address" class="input_field" name="customer-address" autocomplete="address" required>
        </div>
        <div class="field-holder" >
          <label for="customer-backup-phone" class="input_label">رقم هاتف إحتياطي</label>
          <input type="tel" id="customer-backup-phone" class="input_field" name="customer-backup-phone" autocomplete="phone" style="text-align: right" maxlength="10">
        </div>
        <div class="field-holder password-container" >
          <label for="customer-password" class="input_label">كلمة المرور</label>
          <input type="password" id="customer-password" class="input_field" name="customer-password" autocomplete="new-password" minlength="8" maxlength="20" required>
          <span class="show-password-btn material-symbols-outlined" onclick="togglePasswordVisibility()">
            visibility_off
          </span>
          <span style="font-size: 0.7em; color: #9d9898;">
            طول كلمة المرور  8 - 20 رقم أو حرف
          </span>
        </div>
<!--        <br>-->
        <div class="lower-form" >
          <button type="submit" class="sign-up-button">
            إنشاء حساب
          </button>
          <p style="text-align: center; font-size: 0.8em">
            هل لديك حساب بالفعل؟
            <a href="{{url_for('login')}}">
              دخول
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
  <script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('customer-password');
        const showPasswordBtn = document.querySelector('.show-password-btn');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            showPasswordBtn.textContent = 'visibility';
        } else {
            passwordInput.type = 'password';
            showPasswordBtn.textContent = 'visibility_off';
        }
    }

    const inputField = document.getElementById('customer-city');
    const initialValue = inputField.value;
    inputField.addEventListener('input', function () {
        // var x =inputField.initialValue;
        console.log(inputField.value);
        if (inputField.value === initialValue) {
            inputField.classList.add('error-border');
        } else {
            inputField.classList.remove('error-border');
        }

    });

    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('sign-up-form');
        const inputField = document.getElementById('customer-city');

        // Add a submit event listener to the form
        form.addEventListener('submit', function (event) {
          if (document.getElementById("customer-phone").value.length < 10) {
            document.getElementById("customer-phone").classList.add('error-border');
            event.preventDefault();
            alert('Please enter a valid phone number.');
          } else {
            inputField.classList.remove('error-border');
          }
          if (inputField.value === initialValue) {
            // Prevent form submission if content is not changed
            inputField.classList.add('error-border');
            event.preventDefault();
            alert('Please change the city before submitting.');
          } else {
            inputField.classList.remove('error-border');
          }
        });
    });
  </script>
  <br>
  {% endblock %}


</body>
</html>