<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>إزالة منتج</title>
</head>

<body>

  {% extends "admin_profile.html" %}

  {% block users_count %}
  {% endblock %}

  {% block lower_container %}
  <div id="removing-product-container">
    <h3>إزالة منتج</h3>
    <form method="post">
      <div>
        <label for="search-product-id-input">قم بكتابة رقم المنتج للإزالة:</label>&ensp;
        <input type="number" id="search-product-id-input" name="search-product-id-input" min="1">
      </div>
      <br>
      <button id="search-product-id-button" type="button" onclick="ConfirmRemove(this)">
        إزالة
      </button>
      <script>
        function ConfirmRemove(button) {
          var confirm_remove = confirm("هل أنت متأكد من رغبتك في إزالة هذا المنتج؟");
          if (confirm_remove) {
            button.parentNode.submit();
          }
        }
      </script>
    </form>
  </div>
  {% endblock %}

</body>
</html>