<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>تعديل منتج</title>
</head>

<body>

  {% extends "admin_profile.html" %}

  {% block users_count %}
  {% endblock %}

  {% block lower_container %}
  <div id="search-updating-product-container">
<!--    <form style="display: flex; justify-content: center; align-items: center;flex-direction: column; width: 350px">-->
    <label for="search-product-id-input">البحث عن رقم المنتج:</label>
    <input type="number" id="search-product-id-input" name="search-product-id-input" min="1">
    <br>
    <button id="search-product-id-button" onclick="SearchForID()">
      بحث
    </button>
    <form method="post" style="display: none" id="search-form" action="update_product">
      <input type="hidden" id="searched-update-id" name="searched-update-id">
    </form>
<!--    </form>-->
  </div>
  <script>
    function SearchForID() {
        const searchInput = document.getElementById("search-product-id-input");

        document.getElementById("searched-update-id").value = searchInput.value;
        document.getElementById("search-form").submit();
        // const string = `url_for('update_product', id_num=${searchInput.value})`;
        // console.log(string);
        // window.location.href = "/admin_profile/handling_products/update_product?id_num=" + searchInput.value;
    }
  </script>
  {% endblock %}

</body>
</html>