<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>سلة التسوق</title>
</head>

<style>

  #shopping-cart-container {
    padding: 20px 20px 20px 20px;
  }

  #item-handle button {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  #item-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }

  #item-quantity button {
    cursor: pointer;
    width: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #AD7765;
  }

  #item-quantity button:hover {
    color: black;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1em;
  }

  table {
    width: 100%;
  }

  td {
    text-align: center;
    width: 25%;
  }

  #shopping-cart-container td a {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: inline-flex;
    margin: 13px 0 0 0;
    padding-left: 0;
    padding-right: 0;
  }

  td img {
    /*object-fit: fill;*/
    width: 100%;
    height: 100%;

  }

  .shopping-cart-buttons {
    /*width: 100%;*/
    background-color: #cce5ff;
    font-family: "Traditional Arabic",serif;
    border: 0;
    cursor: pointer;
    margin-right: 2px;
    transition-duration: 0.5s;
  }

  .shopping-cart-buttons:hover {
    background-color: #e5e5e5;
  }

  .shopping-cart-buttons a {
    text-decoration: none;
    color: black;
  }

</style>

<body>
{% extends "base.html" %}

{% block no_search %}hidden{% endblock %}

{% block breadcrumb_link %}
/
<a href="{{url_for('shopping_cart')}}">سلة التسوق</a>
{% endblock %}

{% block lower_container %}
<div id="shopping-cart-container">
  <h2 style="text-align: center">سلة التسوق</h2>
  {% if user_role == "guest" %}
    <h4 style="text-align: center;">إذا لم تسجّل في الموقع فلن يمكنك تتبع الطلب الخاص بك, للتسجيل في الموقع <a href="{{url_for('register')}}">إضغط هنا</a></h4>
  {% endif %}
  <table>
    <tr>
      <th>صورة المنتج</th>
      <th>
        إسم المنتج
      </th>
      <th>
        السعر
      </th>
      <th>
        الكمية
      </th>
    </tr>
    {% for quantity, item in cart_items.values() %}
    <tr>
      <td style="justify-content: center; align-items: center">
        <a href="{{url_for('product', name=item[1], ptype=item[2], id_num=item[0])}}">
          {% if item[3].find('&') != -1 %}
            <img src="{{url_for('static', filename=item[3][:item[3].index('&')][7:])}}" alt="item">
          {% else %}
            <img src="{{url_for('static', filename=item[3][7:])}}" alt="item">
          {% endif %}
        </a>
      </td>
      <td style="display: none">{{item[0]}}</td>
      <td style="display: none">{{item[4]}}</td>
      <td style="display: none">{{quantity}}</td>

      <td>
        {{item[1]}}
      </td>
      <td>
        {{item[4]}} ₪
      </td>
      <td>
        <div id="item-quantity">
<!--          <form id="update-form{{item[0]}}" method="post">-->
          {% if item[5] == 0 %}
          <span style="background-color: #f64f4f; font-size: 1.5em">
             نفد المخزون
          </span>
          {% endif %}
          <select id="select{{item[0]}}" name="select{{item[0]}}" onchange="UpdateCart(this)">
            <option value="0">0</option>
            {% for x in range(item[5]) %}
            <option value="{{ x + 1 }}">{{ x + 1 }}</option>
            {% endfor %}
            <script>
                if (parseInt("{{item[5]}}") === 0)
                  document.currentScript.parentNode.selectedIndex = 0;
                else
                  document.currentScript.parentNode.selectedIndex = parseInt("{{quantity}}");
            </script>
            {% if item[5] == 0 %}
            <script>
                document.currentScript.parentNode.setAttribute("disabled", "true");
            </script>
            {% endif %}
          </select>
        </div>
        <br>
        <button disabled class="shopping-cart-buttons" onclick="toggleUpdate(this)">
          تعديل السلة
          {% if item[5] == 0 %}
            <script>
              document.currentScript.parentNode.setAttribute("disabled", "true");
            </script>
          {% endif %}
        </button>
      </td>
      <script>
        if (parseInt("{{item[5]}}") === 0) {
            document.currentScript.parentNode.style.opacity = 0.5;

        }
      </script>
      <script>
          retrievedArray = JSON.parse(localStorage.getItem("cartItems"));
          if (parseInt("{{item[5]}}") === 0) {
            
              delete retrievedArray["{{item[0]}}"];
              localStorage.setItem("cartItems", JSON.stringify(retrievedArray));
              const tempCounter = parseInt(counter.textContent);
              const newCounter = tempCounter - parseInt("{{quantity}}");
              counter.textContent = newCounter.toString();
              localStorage.setItem("cartCounter", counter.textContent);
          }
      </script>
    </tr>
    {% endfor %}
  </table>

<!--  <form id="delete-form" method="post">-->
<!--    <input id="deleted-id" name="deleted-id" style="display: none">-->
<!--  </form>-->

  <br>
  <div id="cart-total-price">
    <span id="total-price">
      المجموع الكلي:
      <b>{{total}}</b>
      ₪
    </span>
    <br>
    <span>
      غير شامل التوصيل, سعر التوصيل يُحسب في الصفحة القادمة
    </span>
  </div>
  <br>
  <div id="cart-footer">
    <button class="shopping-cart-buttons">
      <a href="{{url_for('checkout')}}">
        لإتمام الطلب
      </a>
    </button>
  </div>
  <br>
  </div>

  <script>
      if (localStorage.getItem("cartItems") === "{}") {
          document.getElementById("cart-footer").style.display = "none";
      }

      // function DeleteCartItem(button) {
      //     // the wanted tag to remove from cart
      //     const toDelete = button.parentNode.parentNode.parentNode;
      //     // the parent of the wanted tag to remove child
      //     const parenOftDeleted = toDelete.parentNode;
      //     // take id, price and quantity from 3 hidden td tags
      //     const itemId = toDelete.querySelectorAll("td")[1].textContent;
      //     const price = parseFloat(toDelete.querySelectorAll("td")[2].textContent);
      //     const quantity = parseInt(toDelete.querySelectorAll("td")[3].textContent);
      //     console.log("item id:" + itemId.toString());
      //     // put the value of the hidden input tag as the wanted item's id to remove from cart
      //     // document.getElementById("deleted-id").value = itemId;
      //
      //     // change the cart counter as the quantity of the removed product
      //     const newCounter = parseInt(localStorage.getItem("cartCounter")) - quantity;
      //     counter.textContent = newCounter.toString();
      //     // store the new cart counter
      //     localStorage.setItem("cartCounter", newCounter.toString());
      //
      //     // const newCartItems = JSON.parse(localStorage.getItem("cartItems"));
      //     // check this line when running
      //     // remove the product from cart items array
      //     delete retrievedArray[itemId];
      //     // store the new array
      //     localStorage.setItem("cartItems", JSON.stringify(retrievedArray));
      //     // put the changed array in the hidden input to retrieve in python
      //     document.getElementById("cart-items-input").value = localStorage.getItem("cartItems")
      //     // take the total of the cart
      //     const totalDiv = document.getElementById("total-price").querySelector("b");
      //     const beforeSum = parseFloat(totalDiv.textContent);
      //     // modify the total of the cart as required
      //     const totalSum = beforeSum - (quantity * price);
      //     totalDiv.textContent = totalSum.toString();
      //
      //     // const deleteForm = document.getElementById("delete-form");
      //     parenOftDeleted.removeChild(toDelete);
      //     // deleteForm.submit();
      // }

      function UpdateCart(select) {
          select.parentNode.parentNode.querySelector("button").removeAttribute("disabled");
          // the parent of hidden td tags
          const parentDiv = select.parentNode.parentNode.parentNode;
          // take the values of the hidden td tags
          const curId = parentDiv.querySelectorAll("td")[1].textContent;
          const price = parentDiv.querySelectorAll("td")[2].textContent;
          const quantityDiv = parentDiv.querySelectorAll("td")[3];  // select.parentNode.parentNode
          
          // the initial quantity of the edited item
          const initialQuantity = parseInt(quantityDiv.textContent);
          // the new selected quantity by select tag
          const newQuantity = parseInt(select.value);
          // change the total cart counter as required
          let newCounter = parseInt(localStorage.getItem("cartCounter"));
          const diff = (newQuantity - initialQuantity);
          newCounter += diff;
          // update cart item array
          retrievedArray[curId] = (parseInt(retrievedArray[curId]) + diff).toString();
          if (retrievedArray[curId] === "0") {
            // delete retrievedArray[curId];
          }
          localStorage.setItem("cartItems", JSON.stringify(retrievedArray));
          document.getElementById("cart-items-input").value = localStorage.getItem("cartItems");
          document.getElementById("cart-update").value = "Yes";
          
          // document.getElementById("update-form" + curId).submit();
        }
        
        function toggleUpdate(button) {
          // the parent of hidden td tags
          const parentDiv = button.parentNode.parentNode;
          const price = parentDiv.querySelectorAll("td")[2].textContent;
          const quantityDiv = parentDiv.querySelectorAll("td")[3];
          // the initial quantity of the edited item
          const initialQuantity = parseInt(quantityDiv.textContent);
          // the new selected quantity by select tag
          const newQuantity = parseInt(document.querySelector("#item-quantity select").value);
          // store the new counter
          let newCounter = parseInt(localStorage.getItem("cartCounter"));
          const diff = (newQuantity - initialQuantity);
          newCounter += diff;
          localStorage.setItem("cartCounter", newCounter);
          counter.textContent = newCounter.toString();
          quantityDiv.textContent = newQuantity;
          const totalDiv = document.getElementById("total-price").querySelector("b");
          let newTotal = parseFloat(totalDiv.textContent);
          newTotal += parseFloat(price) * diff;
          totalDiv.textContent = newTotal.toString();

          document.querySelector(".shopping-cart form").submit();
      }
  </script>

{% endblock %}


</body>
</html>